#search-bar {
  width: fit-content;
  margin: 5vh auto 3vh auto;
}

#search {
  width: 40vw;
  border: 2px black solid;
  border-right: 0;
  font-size: 1em;
  padding: 0.5em;
  outline: 0;
}

#magnifying-glass {
  position: absolute;
  top: 13vh;
  width: auto;
  height: 2.4em;
  border: 2px black solid;
  border-left: 0;
  padding: 8px;
}

#card-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#rpb-pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 1em;
}

.rpb-item {
  padding: 1em;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 0.5em;
  background-color: white;
  color: red;
}

.rpb-item--active,
#rpb-pagination > li .rpb-item:nth-child(1):hover,
#rpb-pagination
  > li
  .rpb-item:nth-child(2):hover
  #rpb-pagination
  > li
  .rpb-item:nth-child(8):hover,
#rpb-pagination > li .rpb-item:nth-child(9):hover {
  background-color: red;
  color: white;
}
