#search-bar {
  width: fit-content;
  margin: 5vh auto 3vh auto;
  border: 2px black solid;
  padding: 0.5em;
}

#search {
  width: 40vw;
  font-size: 1em;
  outline: 0;
  border: none;
}

#magnifying-glass {
  height: 1em;
}
#card-display {
  display: grid;
  grid-template-columns: auto auto auto;
}

#rpb-pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 1vw;
}

.rpb-item {
  padding: 1vw;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 0.5em;
  background-color: white;
  color: red;
}

.rpb-item--active,
#rpb-pagination > li .rpb-item:nth-child(1):hover,
#rpb-pagination
  > li
  .rpb-item:nth-child(2):hover
  #rpb-pagination
  > li
  .rpb-item:nth-child(8):hover,
#rpb-pagination > li .rpb-item:nth-child(9):hover {
  background-color: red;
  color: white;
}

@media (max-width: 992px) {
  #search {
    width: 70vw;
  }

  #card-display {
    display: grid;
    grid-template-columns: 1fr;
  }
  #rpb-pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 2vw;
  }

  .rpb-item {
    padding: 2vw;
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: 0.5em;
    background-color: white;
    color: red;
  }
  .rpb-item--active,
  #rpb-pagination > li .rpb-item:nth-child(1):hover,
  #rpb-pagination
    > li
    .rpb-item:nth-child(2):hover
    #rpb-pagination
    > li
    .rpb-item:nth-child(8):hover,
  #rpb-pagination > li .rpb-item:nth-child(9):hover {
    background-color: red;
    color: white;
  }
}

@media (min-width: 992px) {
  #card-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  #card-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
